__pycache__
.venv/
venv/
env/
*.egg-info/
build/
dist/

.coverage
coverage.*
.pytest_cache
.ruff_cache
.mypy_cache
.config-test

.env
.env.development
.env.production

images/
DOWNLOADS/
_dumps/
_tests/
_test/
_data_test/

cookies.txt
*cookies.txt
tests/fixtures/**/intermediate*

# Rust
/target
*.profraw
lcov.info
cobertura.xml

# Sandbox/testing
/sandbox
/**/tests/*.json
/**/tests/*.proto
CHANGELOG-GENERATED.md