__pycache__
.venv/
venv/
env/
*.egg-info/
build/
dist/

.coverage
coverage.*
.pytest_cache
.ruff_cache
.mypy_cache

.env
.env.development
.env.production

images/
DOWNLOADS/
_dumps/
_tests/
_test/
_data_test/

cookies.txt
*cookies.txt
tests/fixtures/**/intermediate*